<menu id="menu">
    <ul>
        <li>@Html.ActionLink("API's", "index")</li>
        <li>@Html.ActionLink("Overview", "overview")</li>
        <li>@Html.ActionLink("Authentication", "auth")</li>
    </ul>
</menu>
